h1{
    color:darkolivegreen;
    font-family: 'Abril Fatface', serif;
}
h3{
    color:black;
}
h2{
    color:salmon;
    font-family: 'Playfair Display', serif;
}
ul{
    color:skyblue;
    font-family: 'Work Sans', sans-serif;
}